body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
}

.logo {
  text-decoration: none;
  color: rgb(169, 222, 224);
  margin-bottom: 10px;
  padding-left: 10px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  color: rgb(169, 222, 224);
}

.hero-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/img/hero-background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-section .container {
  color: azure;
}

.hero-section .travel-button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

.hero-section .travel-button {
  transition-duration: 0.4s;
}

.hero-section .travel-button:hover {
  background-color: rgb(169, 222, 224);
}

.about .container {
  text-align: center;
  padding: 4rem;
}

.content h1 {
  text-align: center;
}

.content .container {
  display: flex;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 500px;
}

.contact .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.contact h3 {
  line-height: 1.6;
}

form input,
form textarea,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.contact h1 {
  text-align: center;
  padding: 2rem;
}

.contact .column-info,
.contact .column-form {
  padding: 10px;
}

footer {
  background-color: #333;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}

.footer-nav {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;
  gap: 10px; /* spacing between links */
  margin-bottom: 1.5rem; /* space before copyright */
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 8px; /* optional spacing between links */
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a.active {
  color: #a9dee0;
}

.footer-contact {
  padding: 8px 16px;
  background-color: #a9dee0;
  border: none;
  color: #333;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

footer small {
  display: block;
  font-size: 0.9rem;
  color: #aaa;
}
